.header-actions-lists {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-actions-lists a {
  font-size: 1.4rem;
}

.header-actions-lists .icon {
  height: 2.4rem;
}

@media (max-width: 34em) {
  .header-actions-lists {
    margin-right: auto;
  }
}