.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

@media (max-width: 90em) {
  .container {
    padding: 0 15rem;
  }
}

@media (max-width: 85em) {
  .container {
    padding: 0 2.4rem;
  }
}
