.product-card {
  width: 100%;
  height: 48.1rem;
}

.product-card.product-new {
  position: relative;
}

.product-card.product-new::before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  content: "NEW";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  background-color: var(--product-tag);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 34rem) {
  .product-card {
    width: 26.3rem;
  }
}
