@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
.about-container {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.section-about {
  margin-bottom: 12.8rem;
}