.featured-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5.6rem;

}

.product-card {
    width: 26.3rem;
    height: 48.1rem;
}

.product-img {
    width: 100%;
    height: 39.1rem;
    margin-bottom: 1.2rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.product-title {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
}

.product-price {
    font-size: 1.4rem;
}