@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.header {
  max-width: 144rem;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 90em) {
  .header {
    padding: 0 15rem;
  }
}

@media (max-width: 85em) {
  .header {
    padding: 0 2.4rem;
  }
}
