/* !general rules goes here  */

@import url("http://fonts.cdnfonts.com/css/vl-newparis-headline");

:root {
  --main-color: #33333a;
  --slider-btn: rgba(0, 0, 0, .4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "VL NewParis Headline", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:active {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
}

button {
  background: none;
  display: inline-block;
  border: none;
}

.heading-secondary {
  text-align: center;
  font-size: 4.2rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--main-color);
}

svg path {
  stroke-width: 0.7;
}